body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
  /* overflow-y: hidden; */
  box-sizing: border-box;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: white;
}
.home {
  height: calc(100vh + 60px);
  width: 100vw;
  padding-top: 6vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 0;
  background: rgba(0, 0, 0, 0.1) url(./assets/zion.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  text-shadow: -1px 1px 0 #000;
}
.home h1 {
  padding: 2rem 4rem 0rem 4rem;
  font-size: 15vw;
  color: white;
}
.nav {
  display: flex;
  z-index: 20;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  color: white;
  background: black;
  /* min-height: 50px;
  height: 6vh; */
}
.logo {
  display: flex;
}
.navTitle {
  display: flex;
  align-self: center;
  justify-content: center;
  max-height: 100%;
  padding: 0;
  margin: 0;
  color: white;
  border-bottom: none;
  text-decoration: none !important;
}
.navTitle:visited {
  text-decoration: none !important;
}
.menuIcon {
  max-height: 100%;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid gray;
  border-radius: 15%;
}
.menuIcon:hover {
  cursor: pointer;
}
.menuIcon:active {
  box-shadow: inset 0px 0px 2px #c1c1c1;
}
.nav > h1 {
  margin: 0;
  padding: 1rem;
}
.exploreBtn {
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  max-width: 60vw;
  align-self: center;
  padding: 2rem;
  justify-self: end;
  margin-top: 60vh;
  text-decoration: none;
  color: white;
  padding: 2rem;
  border: 2px solid white;
  background-color: black;
}
.dropDownContent {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: fixed;
  height: 80px;
  width: 100vw;
  background: black;
  transition: top 0.25s ease-in;
  top: -80px;
  z-index: 5;
}
.dropDownContent * {
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}
.showDropDown {
  transition: top 0.25s ease-in;
  position: fixed;
  top: 6vh;
  z-index: 5;
}
.featuredCard {
  min-width: 80vw;
  max-width: 500px;
  height: 50vw;
  max-height: 50vw;
  height: 50vw;
  margin: 0.5rem;
}
.imgWrapper {
  overflow: hidden;
  border-radius: 5px;
  height: auto;
  width: 80vw;
  max-height: 300px;
  margin: 1rem;
  position: relative;
  background-position: center;
  background-size: cover;
}

.imgWrapper:hover {
  cursor: pointer;
}
.featuredImage {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  filter: brightness(75%);
}
.featuredImage:hover {
  filter: brightness(100%);
}
.noData {
  padding: 0 1rem 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 25%;
  color: white;
  z-index: 2;
}
.featuredName {
  padding: 0.25rem;
  border-radius: 5px 5px 0 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  margin-top: 0;
  top: 0;
  color: white;
  max-width: 100%;
  min-width: 100%;
  z-index: 1;
}

.featured {
  width: 100vw;
  color: white;
  background-color: black;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 0;
  align-items: center;
}
.loading {
  background: black;
  height: 200px;
  width: 500px;
}
.activities {
  padding: 1rem 2rem 1rem 2rem;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  height: max-content;
  border-top: 4px solid black;
  background-color: black;
}

.activityCardLeft {
  border: 2px solid black;
  text-align: center;
  margin: 1.75rem;
  height: 15vh;
  max-width: 100vw;
  justify-content: space-between;
  display: flex;
}
.activityCardRight {
  border: 2px solid black;
  text-align: center;
  margin: 1.75rem;
  max-width: 100vw;
  height: 15vh;
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
}
.activityCardLeft:hover .activityImg {
  transform: scale(1.05) translateX(4px);
}
.activityCardRight:hover .activityImg {
  transform: scale(1.05) translateX(-4px);
}

.activityImg {
  height: 100%;
  width: auto;
}
.titleAndDescription {
  width: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleAndDescription * {
  margin: 0;
  padding: 0 0.25rem;
  margin-bottom: 0.25rem;
}
.parks {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.parksHeader {
  width: 100vw;
  margin-top: 4vh;
  font-size: clamp(20px, 5vw, 50px);
  color: white;
  text-align: center;
  background-image: url("./assets/park.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 30vh;
  max-height: 30vh;
  background-color: black;
}
.camHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  margin-top: 6vh;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  background-image: url("./assets/park1.jpg");
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  background-color: black;
}
.camHeader h1 {
  text-shadow: -1px 1px 0 #000;
}
.camCard {
  width: 70vw;
  max-width: 450px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  height: 200px;
  background-size: cover;
  margin: 1rem;
  background-color: white;
  background-size: cover;
  background-position: center;
}
.camBody {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100vw;

  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.camLoading {
  min-height: 64vh;
  width: 100vw;
  color: white;
  background-color: black;
}
.camLink {
  text-decoration: none;
}
.parksHeader h1 {
  padding-top: 2rem;
  margin-top: 1.5rem;
  text-shadow: -1px 1px 0 #000;
}
.selectorWrapper {
  border-radius: 5px;
  max-width: 600px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  background: black;
  position: absolute;
  top: 34vh;
  z-index: 1;
}
.parkCard {
  overflow: hidden;
  color: white;
  position: relative;
  filter: brightness(0.8);
  font-size: 12px;
  margin: 1rem;
  max-height: 30vh;
  width: 80vw;
  max-width: 550px;
  background-position: center;
  background-size: cover;
}
.parkCard:hover {
  filter: brightness(1);
  cursor: pointer;
}
.parkCard:active {
  filter: brightness(1);
}
.selectedParks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  background-color: black;
  width: 100vw;
  min-height: 50vh;
  height: fit-content;
  overflow: auto;
}
.explore {
  background-color: red;
}
.parkName {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  background: rgba(0, 0, 0, 0.6);
}
.selected {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selectedHeader {
  position: relative;
  background-position: center;
  background-size: cover;
  padding-top: 5vh;
  height: 45vh;
  width: 100vw;
  color: white;
  text-align: center;
}
.selectedHeader > h1 {
  padding: 2rem 2rem 0 2rem;
  text-shadow: -1px 1px 0 #000;
}
.selectedDescripton {
  max-width: 1200px;
  margin: 0 auto;
  /* max-width: 100vw; */
  max-height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  padding: 10vh 2rem 15vh 2rem;
  background: black;
  color: white;
  position: relative;
  flex-direction: column;
}
.selectedDescripton h1 {
  margin: 0;
}
.selectedDescripton p {
  margin: 1rem 0 3rem 0;
}
h1:first-child {
  text-align: center;
}

.selectedInfo {
  position: absolute;
  padding: 0.5rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100px;
  min-height: 100px;
  margin-bottom: -55px;
  border: 2px solid white;
  border-radius: 5px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: black;
  color: white;
  z-index: 3;
}
.selectedInfo * {
  margin: 0;
  padding: 0;
}
.selectedInfo div {
  width: 40%;
  text-align: center;
}
.midImg {
  position: absolute;
  height: 30vh;
  max-height: 300px;
  width: 30%;
  bottom: -15vh;
  align-self: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.midImg img {
  max-width: 100%;
  max-height: 100%;
}
.backBtn {
  position: absolute;
  top: 6vh;
  left: 0.5rem;
  color: blue;
}
.webcamHeader {
  margin-top: 10vh;
}
.webCamImg {
  width: 200px;
  height: 200px;
}
.webcams {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.webcams ul {
  padding-left: 0;
}

.camTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15%;
  background: rgba(0, 0, 0, 0.6);
}
.webCamBackBtn {
  position: absolute;
  top: 10vh;
  left: 2rem;
}

.location {
  padding: 0;
  margin: 0;
  min-width: 100%;
}
.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
  background-color: white;
  color: black;
  width: 100vw;
}
.image {
  width: 100%;
  height: 50px;
}
.todoItem {
  padding: 0;
  list-style-type: none;
  width: 100vw;
  max-width: 1200px;
}
.todoItemWrapper {
  display: flex;
  margin: 0.25rem;
}
.todoItemWrapper li {
  padding-left: 0.5rem;
}
.footer {
  width: 100vw;
  border-top: 1px solid white;
  height: 100px;
  background-color: black;
  min-height: 100px;
  color: white;
  background-color: black;
}
.footer p {
  margin: 0.5rem;
}

.articleCard {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  border: 2px solid black;
}

.lazyImg {
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 600px) {
  .home h1 {
    font-size: 80px;
  }
  .imgWrapper {
    min-height: 200px;
    background-size: cover;
    background-position: center;
    max-width: 450px;
  }
  .exploreBtn {
    width: 30vw;
  }
  .activities {
    min-height: 200px;
    flex-direction: row;
    justify-content: center;
    max-height: min-content;
    padding-bottom: 4rem;
  }
  .link {
    height: min-content;
  }
  .titleAndDescription {
    width: 100%;
  }
  .activityCardLeft {
    width: 35vw;
    height: 20vw;
    flex-direction: column;
  }
  .activityCardRight {
    width: 35vw;
    height: 20vw;
    flex-direction: column;
  }
}

@media screen and (min-width: 1000px) {
  .home h1 {
    padding-top: 15vh;
    font-size: 80px;
  }
  .featured {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .featured > h1 {
    width: 100vw;
    font-size: 3rem;
    padding-bottom: 2rem;
  }
  .featuredName {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
  }
  .imgWrapper {
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 20vw;
  }
  .activityImg {
    height: 25vw;
  }
  .activities {
    padding-top: 5rem;
    height: 25vw;
  }
  .titleAndDescription {
    padding-top: 1rem;
  }
  .activityImg {
    height: 15vw;
    width: 35vw;
  }
  .selectedParks {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tempCard {
    width: 30vw;
  }
  .parkName {
    height: 25%;
  }

  .parksHeader h1 {
    padding-top: 2rem;
    margin-top: 1.5rem;
    font-size: 75px;
    text-shadow: -1px 1px 0 #000;
  }
}

@media (orientation: landscape) and (max-width: 850px) {
  .parksHeader {
    min-height: 200px;
  }
  .selectorWrapper {
    top: 230px;
  }
  .tempCard {
    min-height: 250px;
  }
  .noData {
    bottom: 40px;
  }
  .selectedHeader {
    min-height: 200px;
  }
  .selectedHeader > h1 {
    padding: 4rem;
  }
  .selectedDescripton {
    padding-top: 5rem;
    padding-bottom: 150px;
  }
  .midImg {
    min-height: 200px;
    bottom: -100px;
  }
  .todo {
    padding-top: 125px;
  }
  .camHeader {
    min-height: 200px;
  }
}
